@import "tailwindcss";

:root {
  --primary-dark: #1a2d42;
  --secondary-dark: #2e4156;
  --accent: #aab7b7;
  --secondary: #c0c8ca;
  --primary: #d4d8dd;
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}
.bg-secondary-dark {
  background-color: var(--secondary-dark);
}
.bg-accent {
  background-color: var(--accent);
}
.bg-secondary {
  background-color: var(--secondary);
}
.bg-primary {
  background-color: var(--primary);
} 
